body{
    font-family: "Apple Chancery";
    letter-spacing: -0.03em;
}

::-moz-selection { /* Code for Firefox */
    background: #c8e8fc;
}

::selection {
    background: #c8e8fc;
}

#cursive_font{
    font-family: "Apple Chancery";
}
#normal_text{
    font-family: "Helvetica Neue","Segoe UI",Arial,sans-serif;
}


.bigFont a:hover,
.smallFont a:hover
{
	color: white;
	background-color: red;
    text-decoration: none;
}

#center{
    width: 100%;
    border: 1px dotted black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


nav{
    font-size: 2em;
    color: #737373;
}

nav a:link,
nav a:visited,
nav a:active
{
    text-decoration: none;
    color: #737373;
    transition: all 0.3s ease-in-out;
}
