/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*my css index.html*/
/*navigation*/

body{
    font-family: 'Open Sans', sans-serif;
    line-height: 4vh;
    width: 100%;
    /*trick in trying to hide the space at the top. when you want to do the fixed navigation bar there seems to be 
    space at the top. this erases it to the point where it's unnoticeable.*/
}

.navigation{
    position: relative;
}
.nav-container{
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 100%;
    background: white;
}
.nav-wrapper{
    text-decoration: none;
    display: inline-block;
}
.nav-wrapper li{
    list-style: none;
    display: inline-block;
}
.nav-wrapper a{
    display: block;
    text-decoration: none;
    font-size: 3.5vh;
    margin: 2vh;
    color: black;
}
.nav-link{
    transition: border-bottom-color 0.2s linear 0s;
    border-bottom: 2px solid transparent;
}
.nav-link:hover, .nav-link.active{
    border-bottom-color: black;
}

/*image*/
.image-section{
    text-align: center;
    margin: 6vh;
}
.image-section img{
    border-radius: 100%;
    width: 45vh;
}
/*text section*/
.text-section{
    text-align: center;
    letter-spacing: 0.05vh;
    margin-right: 13vw;
    margin-left: 13vw;
}
/*end of my css index.html*/

/*start of my css experience.html*/
.experience-table{
    /*border: 2px solid black;*/
    width: 70vw;
    margin: auto;
}
.chooser{
    text-align: left;
    padding-bottom: 3vh;
}
.active-button{
    background: black;
    color: white;
}
.not-active-button{
    background: white; /* Green */
    color: black;
}
.button{
    border: black 1px solid; 
    padding: 1vh 1vw; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*margin: 4px 2px;*/
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10%;   
}
.button:hover{
    background: black;
    color: white;

}
.button:focus{
    outline: 0;
}

.experience-table td{
    /*border: 1px solid black;*/
}
.work-entry{
    
}
.first-col{
    width: 130px;
}
.second-col{
    vertical-align: top;
    text-align: left;
    padding-left: 10vw;
    padding-bottom: 5vh;
}
.classes-taken{
    padding-left: 3vw;
}
/*end of my css experience.html*/

/*start of my css blog.html*/
/*end of my css blog.html*/

/*start of my css contact.html*/
.contact{
    text-align: left;
    float: left;
    width: 40%;
    /*margin-right: 20vw;*/
    padding-top: 15vh;
    letter-spacing: 0.05vh;
    
    margin-left: 13vw;
}
iframe{
    margin-left: 7vw;
    margin-top: 7vh;
}
/*end of my css contact.html*/